/*
  Things that are part of theme:
    bg{
      .navbar
      div.dropdown-menu a

    }
    bg-hi {
      .navbar a
    }
    bg-low {
      .dropdown-item:active

    }
*/
:root {
  --blue: #17a2b8;
  --green: #51a051;
  --purple: #ad74bc;
  /*
    --red: $red;
  */
  --bg: var(--green);
  /*
    --bg-low: darken(var(--bg), 10);
    --bg-hi: lighten(var(--bg), 30);
  */
}

body {
  margin-top: 60px;
  box-sizing: content-box;
}

main {
  margin-bottom: 4rem;
  padding: 1rem;
}

/* Make inside links apear below header */
h2::before {
  display: block;
  content: " ";
  margin-top: -55px;
  height: 55px;
  visibility: hidden;
  pointer-events: none;
}

ul.flex-column {
  margin-top: 1rem;
}

table.table tr td {
  padding: 0.1rem 1rem;
}

.bg-theme, .bg-theme.active {
  background-color: #cc584d;
  color: white;
}

.text-theme {
  color: #cc584d;
}

.text-theme:hover, .text-theme-hi:hover {
  color: #b33e33;
}

.text-theme-hi {
  color: #eec8c4;
}

.text-theme-low {
  color: #b33e33;
}

/*--------------------------------*/
/* Navbar */
.navbar {
  /*
    background-color: $bg-color;
  */
}
.navbar a {
  /*
      color: $bg-hi;
  */
}
.navbar a.active {
  color: white;
}

button {
  color: white;
  padding: 0;
  font-size: 1.2rem;
}

/*--------------------------------*/
/* Dropdown */
button.dropdown-toggle, button.dropdown-toggle:hover {
  color: white;
  /*
    border: 3px solid white;
    border-radius: 5px;
  */
}

div.dropdown-menu a {
  /*
      color: $bg-color;
  */
}
div.dropdown-menu .dropdown-item.active, div.dropdown-menu .dropdown-item:active {
  color: white;
}
div.dropdown-menu .dropdown-item.active {
  background-color: #cc584d;
}
div.dropdown-menu .dropdown-item:active {
  background-color: #b33e33;
}
div.dropdown-menu a.active:hover {
  /*
      color: $bg-hi;

      color: white;
  */
}
div.dropdown-menu a:hover {
  /*
      color: $bg-low;
  */
}

/*--------------------------------*/
/* Topics Nav */
/*
ul#topics {
  margin: 1rem 15px;
  li {
    margin:  auto;
    a {
      background-color: transparent;

      color: $bg-color;

    }


    a.active {
      border: 3px solid $bg-color;
      border-radius: 5px;
    }
  }
}
*/
ul li a {
  /*
      color: $bg-color;
  */
  text-align: center;
}
ul li a.active, ul li .dropdown-item:active {
  color: white;
  background-color: #cc584d;
  border-radius: 25px;
}

/*--------------------------------*/
/* Scrollspy Nav */
ul#myScrollSpy li a:hover {
  color: #b33e33;
}

/*--------------------------------*/
/* Code Highlighting */
.hljs {
  font-size: 0.9rem;
}

/*--------------------------------*/
/* Class Diagrams */
div.class_diagram {
  display: inline-block;
  border: 1px solid black;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 1rem 0;
}

div.class_diagram_head, div.class_diagram_body, div.class_diagram_footer {
  padding: 0.6rem;
  border: 1px solid black;
}

div.class_diagram_head {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #e5e5e5;
}

div.class_diagram_body, div.class_diagram_footer {
  line-height: 0.5rem;
}

/*# sourceMappingURL=newStyles.css.map */
