$blue: #17a2b8;
$green: #51a051;
$purple: #ad74bc;
$red: #cc584d;

$bg-color: $red;

$bg-low: darken($bg-color, 10);
$bg-hi: lighten($bg-color, 30);


:root {

  --blue: #17a2b8;
  --green: #51a051;
  --purple: #ad74bc;
/*
  --red: $red;
*/
  --bg: var(--green);
/*
  --bg-low: darken(var(--bg), 10);
  --bg-hi: lighten(var(--bg), 30);
*/
}
body {
  margin-top: 60px;
  box-sizing: content-box;
}
main {
  margin-bottom: 4rem;
  padding: 1rem;
}

/* Make inside links apear below header */
h2::before {
  display: block;
  content: " ";
  margin-top: -55px;
  height: 55px;
  visibility: hidden;
  pointer-events: none;
}
ul.flex-column {
  margin-top: 1rem;
}

table.table tr td{
  padding: 0.1rem 1rem;

}


/*--------------------------------*/
/* Navbar */
.navbar {
  background-color: $bg-color;
  a {
    color: $bg-hi;
  }
  a.active {
    color: white;
  }
}
button {
  color: white;
  padding: 0;
  font-size: 1.2rem;
}


/*--------------------------------*/
/* Dropdown */
button.dropdown-toggle, button.dropdown-toggle:hover {

  color: white;
/*
  border: 3px solid white;
  border-radius: 5px;
*/
}
div.dropdown-menu {
  a {
    color: $bg-color;
  }
  .dropdown-item.active, .dropdown-item:active {
    color: white;
    background-color: $bg-color;
  }
  .dropdown-item:active {
    background-color: $bg-low;
  }
  a.active:hover {
    color: $bg-hi;
    color: white;
  }
  a:hover {
    color: $bg-low;
  }

}
  /*--------------------------------*/
  /* Topics Nav */

ul#topics {
  margin: 1rem 15px;
  li {
    margin:  auto;
    a {
      background-color: transparent;
      color: $bg-color;
    }

    a.active {
      border: 3px solid $bg-color;
      border-radius: 5px;
    }
  }
}
ul li{
  a {
    color: $bg-color;
    text-align: center;
  }
  a.active {
    color: white;
    background-color: $bg-color;
    border-radius: 25px;
  }
}

/*--------------------------------*/
/* Scrollspy Nav */

ul#myScrollSpy li a:hover{
  color: $bg-low;
}

/*--------------------------------*/
/* Code Highlighting */
.hljs {
  font-size: 0.9rem;
}

/*--------------------------------*/
/* Class Diagrams */
div.class_diagram {
  display: inline-block;
  border: 1px solid black;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 1rem 0;
}
div.class_diagram_head, div.class_diagram_body, div.class_diagram_footer {
  padding: 0.6rem;
  border: 1px solid black;
}
div.class_diagram_head {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #e5e5e5;
}
div.class_diagram_body, div.class_diagram_footer {
  line-height: 0.5rem;

}
